//store all variables properties
$color-primary-light: #7ed56f;
$color-primary-dark: #0d8636;
$color-gray-dark: #777777;
$color-white: #fff;
$color-black: black;

$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
