* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* inherits box size from all elements */
  
    html {
      font-size: /*10px*/ 62.5%; /*to apply rem to for mobile, better to use percent*/
    }
    body {
      font-family: Lato, sans-serif;
      font-weight: 400;
      /* font-size: 16px; */
      line-height: 1.7;
      color: $color-gray-dark;
      padding: 3rem;
      box-sizing: border-box;
    }
  }
  
  .header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8px),
        rgba($color-primary-dark, 0.8px)
      ),
      url(../img/books.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  
    &__logo-box {
      position: absolute;
      top: 1rem;
      left: 2rem;
      
    }
  
    &__logo {
      // height: 2rem;
      font-size: 6rem;
      font-weight: 800;
      color: $color-white;
    }
  
    /* .logo:hover {
      animation: moveInLeft 2s ease-out;
    } */
  
    &__text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  
  .heading {
    &-primary {
      color: $color-white;
      text-transform: uppercase;
      backface-visibility: hidden;
    }
  
    &-primary--main {
      display: block;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 3.5rem;
  
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
  
      /* animation delay: 3s;
      animation-iteration-count: 3; */
    }
  
    &-primary--sub {
      display: block;
      font-size: 1rem;
      font-weight: 50;
      letter-spacing: 1.74rem;
  
      animation: moveInRight 1s ease-out;
    }
  }
  